.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cube {
  position: relative;
  width: 200px;
  height: 200px;
}

.face {
  position: absolute;
  width: 200px;
  height: 111.222%;
}

/* Lines */
.line-1,
.line-2,
.line-3 {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-sizing: border-box;
}

.line-1 {
  top: 0px;
}

.line-2 {
  top: 66.5938px;
}

.line-3 {
  top: 133.195px;
}

/* Faces */
.front { top: 0; left: 0; }
.back { top: 0; left: 0; }
.left { top: 0; left: 0; }
.right { top: 0; left: 0; }
.top { top: 0; left: 0; }
.bottom { top: 0; left: 0; }
